SHOPIER_API_KEY=your_api_key
SHOPIER_API_SECRET=your_api_secret
SHOPIER_WEBSITE_INDEX=1
SHOPIER_CURRENCY=0
SHOPIER_PRODUCT_TYPE=1
SHOPIER_SUCCESS_URL=https://rolllagency.com.tr/odeme/basarili
SHOPIER_FAIL_URL=https://rolllagency.com.tr/odeme/basarisiz
PORT=3000
